---
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";
import Socials from "./Socials.astro";

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <Socials centered />
    <div class="copyright-wrapper">
      <span
        >Made with Astro & <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 10 10"
          ><path
            fill="currentColor"
            d="M4 9h1V8h1V7h1V6h1V5h1V2H8V1H6v1H5v1H4V2H3V1H1v1H0v3h1v1h1v1h1v1h1Zm0 0"
          ></path></svg
        > by Leo Wang</span
      >
      <span class="separator">&nbsp;|&nbsp;</span>
      <span
        >Released under <LinkButton
          href="https://creativecommons.org/licenses/by-sa/4.0/"
        >
          CC BY-SA 4.0
        </LinkButton></span
      >
      <span class="separator">&nbsp;|&nbsp;</span>
      <LinkButton href="/rss.xml" aria-label="rss feed" title="RSS Feed">
        RSS
      </LinkButton>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between py-6 md:flex-row-reverse md:py-4;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap md:flex-row;
  }
  .separator {
    @apply hidden md:inline;
  }
</style>
