---
import { SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";
---

<header class="w-full text-lg">
  <div class="mx-auto flex max-w-3xl flex-wrap items-stretch gap-4 p-4">
    <a href="/">
      <span>
        {SITE.title}
      </span>
    </a>
    <ul id="menu-items" class="flex gap-4">
      <li>
        <LinkButton href="/posts"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"
            ><path
              fill="currentColor"
              d="M2 9h5V8H3V3h5v4h1V2H7V0H0v7h2Zm2-2h2V6H4ZM1 6V1h5v1H2v4Zm6 2h1V7H7ZM4 5h3V4H4Zm0 0"
            ></path></svg
          ></LinkButton
        >
      </li>
      <li>
        <LinkButton href="/tags"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"
            ><path
              fill="currentColor"
              d="M2 9h1V7h2v2h1V7h2V5H7V4h2V2H7V0H6v2H4V0H3v2H1v2h1v1H0v2h2Zm1-4V4h3v1Zm0 0"
            ></path></svg
          ></LinkButton
        >
      </li>
      <li>
        <LinkButton href="/about"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"
            ><path
              fill="currentColor"
              d="M3 6H2v1h1Zm0 0h1V4H1V1H0v4h3Zm0 3h4V7H6v1H5V6H4v2H3Zm2-3h1V5H5Zm0-3h1V0H1v1h4ZM3 3h1V2H3Zm4 4h1V6H7ZM6 4h1V3H6Zm2 2h1V2H8v2H7v1h1Zm0 0"
            ></path></svg
          ></LinkButton
        >
      </li>
    </ul>
    <LinkButton
      href="/search"
      className="focus-outline group"
      ariaLabel="search"
      title="Search"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"
        ><path
          fill="currentColor"
          d="M7 9h2V7H8v1H7ZM1 6h1V5H1Zm1 1h3V6H2ZM0 5h1V2H0Zm5 1h1V5H5Zm1 2h1V7h1V6H6ZM1 2h1V1H1Zm5 3h1V2H6ZM2 1h3V0H2Zm3 1h1V1H5Zm0 0"
        ></path></svg
      >
    </LinkButton>
    {
      SITE.lightAndDarkMode && (
        <button
          id="theme-btn"
          title="Toggles light & dark"
          aria-label="auto"
          aria-live="polite"
          class="hover:text-skin-accent"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 10 10"
            id="moon-svg"
            class="mt-[1px]"
          >
            <path
              fill="currentColor"
              d="M5 4H4v1h1Zm0 0h1V1h1V0H5ZM1 8h1V7H1Zm1 1h4V8H2ZM0 7h1V6h3V5H0Zm6 1h1V7H6Zm1-1h1V6H7Zm1-1h1V2H8ZM7 2h1V1H7Zm0 0"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 10 10"
            id="sun-svg"
            class="mt-[1px]"
          >
            <path
              fill="currentColor"
              d="M3 3H2v3h1Zm0 0h3V2H3ZM1 8h1V7H1ZM0 5h1V4H0Zm4 4h1V8H4ZM3 7h3V6H3ZM1 2h1V1H1Zm6 6h1V7H7ZM6 6h1V3H6ZM4 1h1V0H4Zm4 4h1V4H8ZM7 2h1V1H7Zm0 0"
            />
          </svg>
        </button>
      )
    }
  </div>
  <Hr />
</header>
