---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

const { href, className, ariaLabel, title, disabled = false } = Astro.props;
---

<a
  href={disabled ? "#" : href}
  tabindex={disabled ? "-1" : "0"}
  class={`group inline-block underline underline-offset-4 decoration-dashed decoration-2 hover:text-skin-accent ${className} ${disabled ? "opacity-50 cursor-not-allowed" : ""}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
>
  <slot />
</a>
