---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/tags/${name.toLowerCase()}`}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group flex gap-2 relative underline-offset-4 underline decoration-dashed decoration-2 hover:text-skin-accent focus-visible:p-1`}
  >
    <span>#{name.toUpperCase()}</span>
  </a>
</li>
